.HomePage {
  height: calc(100vh - var(--header-size));
  display: flex;
  flex-direction: column;
}

.TasksContainer {
  background-color: var(--color-primary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
  display: flex;
  flex: 1 1;
  flex-direction: column;

  .Title {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    color: var(--color-white);
    font-size: 1rem;
    line-height: 1;
  }

  .Tasks {
    padding: 2rem var(--gap-size);
    background-color: var(--color-primary-acent);
    overflow: {
      x: hidden;
      y: scroll;
    };
    flex: 1 1;
    display: flex;
    gap: var(--gap-size);
    flex-wrap: wrap;
    justify-content: center;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}
