.Header {
  background-color: var(--color-primary);

  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Title {
    margin: 0;
    color: var(--color-white);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
  }
}

.IconButton {
  width: calc(var(--header-font-size) * 1.25);
  height: calc(var(--header-font-size) * 1.25);
  background-color: var(--color-white);
  color: var(--color-primary);
  font-size: var(--header-font-size);
  border: none;
  border-radius: calc(var(--header-font-size) * 1.25);
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
