.Select {
  width: 100%;
  padding: .5rem;
  background-color: var(--color-gray-lighter);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  font-family: var(--font-family);
  font-size: 1rem;
  resize: none;

  &:focus {
    outline: none;
  }
}
